<a href="https://colab.research.google.com/github/Sheetal25-pixel/end-to-end/blob/main/Python_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age  = 45
salary = 45000
name = "sheetal"
print(age,name,salary)

45 sheetal 45000

In [3]:
x = 34
y = 34.6
z = 3j
h = {"name":"sheetal","age":26}
s = {"name",2,4,5,78.9,3j}
b = True
j = b"name" #binary format
print(type(x),type(y),type(z),type(h),type(s),type(b),type(j))
print(j)

<class 'int'> <class 'float'> <class 'complex'> <class 'dict'> <class 'set'> <class 'bool'> <class 'bytes'>
b'name'

In [10]:
amount  = 150.75
print("amount is ${:.3}".format(amount))

amount is $1.51e+02

1.51*100 = 151